<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3 style="text-align: center;" >Administrador Central</h3>
      </div>

      <ul class="list-unstyled components">
          <li routerLinkActive="router-link-active" >
              <a href="/home">&#183; Home  </a>
          </li>
          <li routerLinkActive="router-link-active" >
              <a href="/rutas">&#183; Administrar Rutas</a>
          </li>
          <li routerLinkActive="router-link-active" >
              <a href="/ads">&#183; Administrar Anuncios</a>
          </li>
          <li routerLinkActive="router-link-active" >
              <a href="/videos">&#183; Administrar Videos</a>
          </li>
      </ul>
  </nav>

</div>
