btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 23px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  max-width: 250px;
  max-height: 200px;
  background-color: slategray
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  width: max-content;
  padding-top: 10px;
  padding-left: 15px;
}

.card-title {
  color: cornsilk;
  font-size: x-large;
}

.card-text {
  color: floralwhite;
  font-size: small;
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.card-image {
  width: 93%;
  margin-left: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.dropbtn {
  background-color: #4CAF50;
  position: fixed;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.icons li {
  background: none repeat scroll 0 0 #fff;
  height: 7px;
  width: 7px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius:50%;
  pointer-events: none;
}

.btn-right {
  left: 12em;
}

.btn-left, .btn-right {
  position: absolute;
}
.showLeft{
  background-color: #707f90 !important;
  border:1px solid #707f90 !important;
  text-shadow: none !important;
  color:#fff !important;
  padding-left: inherit;
}
