<div class="home-container">

    <div class="row">
      <div class="col-12">
        <img class="logo" src="https://carlisletheacarlisletheatre.org/images/generic-logo-round-8.png" alt="logo">
      </div>
    </div>
    <div class="info-container">
        <div class="row">
            <div class="col-12">
              <h2 style="text-align: center;"> Bienvenido </h2>
              <p style="text-align: center;"> Llevamos: </p>
            </div>
          </div>
        <br>
          <div class="row">
            <div class="col-4">
              <h2 style="text-align: center;"> {{busesNumber}} </h2>
              <h4 style="text-align: center;">  Rutas </h4>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
              <h2 style="text-align: center;"> {{adsNumber}} </h2>
              <h4 style="text-align: center;"> Anuncions </h4>
            </div>
          </div>
        <br>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <h2 style="text-align: center;"> {{videosNumber}} </h2>
                <h4 style="text-align: center;"> Videos </h4>
            </div>
            <div class="col-4">
            </div>
          </div>
    </div>


</div>
